<!DOCTYPE html>
<html>
<head>
    <title>PyBox</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column h-100 bg-light" style="background-color: #262626 !important;">
    <div class="container text-center my-4">
        
        <div class="d-flex align-items-center justify-content-center mt-5 mb-3">
            <h1 style="color: #7CDF64;">Bienvenido a PyBox</h1>
            <img src="https://cdn-icons-png.flaticon.com/512/745/745768.png" alt="PyBox Icon" width="48" height="48" style="margin-left: 30px;">   
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
           
            <div id="editor" class="mt-5" style="width: 400px; height: 150px;"></div>
        </div>

        <br>
        <button id="validarCodigo" class="btn btn-info mt-4 mb-4">Validar Código</button>

        <div id="resultado" class="mt-3" style="font-size: 21px; color: #7CDF64;"></div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src-min-noconflict/ace.js"></script>
    <script>
      
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/iplastic");
        editor.session.setMode("ace/mode/python");
        editor.setOption("fontSize", "20px");

        document.getElementById("validarCodigo").addEventListener("click", function() {
            var codigo = editor.getValue();

            fetch('/validar', {
                method: 'POST',
                body: JSON.stringify({ codigo: codigo }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.resultado) {
                    document.getElementById("resultado").innerHTML = data.resultado;
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    
</body>

</html>